.header {
  display: flex;
  justify-content: center;
  background-color: #3f51b5;

  & span {
    color: #fff;
  }

  &_link {
    color: #fff;
    text-decoration: none;
  }

  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto !important;

    & > button {
      width: 100%;
      margin-bottom: 15px;
      padding: 0;

      & > span, & a {
        display: block;
        width: 100%;
      }
      & a {
        padding: 6px 16px !important;
      }
    }
  }
}
